* {
  box-sizing: border-box;
  margin: 0;
}

.result-display {
  padding: 15px;  
}

.result-list {
  list-style: none;
}

.result {
  padding: 5px;
  font-size: 1.1em;
}

li.result:nth-child(odd) {
  color: #e18a07;
}

li.result:nth-child(even) {
  color: #c0c0c0;
}

@keyframes search {
  from {color: #c0c0c0;}
  to {color: #e18a07;}
}

.searching {
  padding: 5px;
  font-size: 1.1em;
  animation-name: search;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}